:root {
    --black: #000000;
    --grey: #707070;
    --lightgrey: #a6a6a6;
    --pink: #e21b70;
    --bluishgrey: #171f26;
    --whitishgrey: #f7f7f7;
    --white: #ffffff;
    --lightpink: #ff2b85;
    --blakishgrey: #333333;
    --lightbluishgrey: #343b46;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
}

/* Container-1 */
.cont-1 {
    height: 64px;
    width: 100%;
    background-color: var(--lightpink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cont-1-content {
    height: 64px;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.cont-1 .bag-img {
    height: 50px;
    width: 50px;
}

.cont-1 button {
    height: 48px;
    padding: 0px 15px;
    background-color: var(--lightpink);
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s ease;
}

.cont-1 button:hover {
    background-color: var(--whitishgrey);
    color: var(--grey);
}

.close-logo {
    position: absolute;
    right: 24px;
    top: 8px;
    cursor: pointer;
}

/* Container-2 */
.cont-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    position: sticky;
    top: 64px;
    z-index: 999;
    background-color: var(--white);

}

.header {
    height: 64px;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Foodpanda-logo {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 0px 0px 30px;
    width: 50%;
    cursor: pointer;
}

.Foodpanda-logo img {
    height: 35px;
    width: 35px;
}

.Foodpanda-logo h3 {
    font-weight: 500;
    font-size: 24px;
    color: var(--lightpink);
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 24px;
    width: 50%;
    padding-right: 30px;
}

.login {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-btn {
    outline: none;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: var(--white);
    border: 1px solid var(--lightbluishgrey);
    color: var(--lightbluishgrey);
    cursor: pointer;
    font-weight: 600;
}

.log-in-btn:hover {
    background-color: var(--whitishgrey);
    padding: 12px 14px;
}

.signup {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn {
    outline: none;
    padding: 8px 10px;
    border-radius: 6px;
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
}

.sign-up-btn:hover {
    background-color: var(--pink);
    padding: 12px 14px;
}

.cart {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart a {
    background-color: none;
    padding: 20px;
    border-radius: 50%;
    position: relative;
}

.cart a img {
    position: absolute;
    top: 8px;
    left: 8px;
}

.cart a:hover {
    background-color: var(--whitishgrey);
}

/* Container-3 */
.cont-3 {
    height: 513px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--whitishgrey);
}

.cont-3-main {
    width: 100%;
    max-width: 1440px;
    height: 513px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cont-3-main img {
    height: 100%;
    position: absolute;
    right: -250px;
    bottom: 0;
}

.cont-3 h1 {
    padding: 0px 0px 0px 30px;
    font-size: 40px;
    font-weight: 700;
    width: 630px;
    position: absolute;
    top: 100px;
}


/* Container-4 */
.cont-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    width: 100%;
}

.cont-4-content {
    width: 100%;
    max-width: 1440px;
    padding-left: 63px;
}

.cont-4-content h1 {
    font-weight: 900;
    margin-bottom: 32px;
    font-size: 32px;
}


/* Container-5 */
.cont-5 {
    background-image: url('images/cont-5\ -img.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    object-fit: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 240px;
}

.cont-5-content {
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 60%;
    padding-left: 63px;
}

.cont-5-text-content {
    width: 570px;
    border-radius: 16px;
    background-color: var(--white);
    padding: 24px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
}

.cont-5-text-content p {
    padding: 8px 0;
    line-height: 28px;
}

.started-btn {
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--white);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.started-btn:hover {
    background-color: var(--pink);
}

.changeH1 {
    color: var(--blakishgrey);
}

/* COntainer-7 */
.cont-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}

.cont-7-main {
    background: var(--lightpink);
    border-radius: 16px;
    color: var(--white);
    width: 100%;
    margin: 0px 30px 80px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-icon-section {
    width: 50%;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-top: 48px;
}

.app-icon-section h2 {
    margin-bottom: 32px;
    word-spacing: 5px;
}

.app-section-QR-Code {
    display: flex;
    gap: 30px;
    margin-bottom: 24px;
}

.QR-Code img {
    padding: 8px;
    border: 1px solid var(--white);
    max-height: 70px;
    max-width: 72px;
    border-radius: 6px;
}

.app-section-QR-Code p {
    font-size: 16px;
    line-height: 25px;
    margin-top: -4px;
}

.app-section-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-section-icon img {
    cursor: pointer;
}

.app-phone-section {
    width: 50%;
    position: relative;
}

.app-phone {
    min-height: 327px;
}

.app-phone img {
    position: absolute;
    margin-top: -100px;
    max-height: 521px;
    max-width: 656px;
}

/* Container-9 */
.cont-9 {
    background-image: url('images/home-corporate-pk.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    object-fit: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 240px;
}

.cont-9-content {
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 75%;
    padding-left: 63px;
}

/* Containe-10 */
.cont-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}

.cont-10-main {
    width: 100%;
    margin: 0px 30px 80px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.cont-10-text-contain {
    width: 50%;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.cont-10-text-contain h1 {
    font-size: 55px;
    font-weight: 800;
    color: var(--lightbluishgrey);
}

.cont-10-text-contain p {
    color: var(--lightbluishgrey);
    padding: 16px 0;
}

.learn-more {
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 9999px;
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--white);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.learn-more:hover {
    background-color: var(--pink);
}

/* @media (max-width:1050px) {
    .cont-3 {
        height: 400px;
    }
}

@media (max-width:815px) {
    .cont-3 {
        height: 260px;
    }

    .cont-3-main img {
        right: -60px;
    }

    .cont-3-main h1 {
        top: 60px;
        font-size: 30px;
        width: 500px;
    }

    .cont-4 h1 {
        font-size: 26px;
    }

    .cont-5 div p {
        font-size: 15px;
    }

    .cont-5 div {
        height: 240px;
        width: 400px;
        top: 250px;
    }

    .cont-5 h2 {
        font-size: 17px;
    }

    .cont-5 div button {
        padding: 8px 11px;
        font-size: 12px;
    }

    .cont-6 h1 {
        font-size: 26px;
    }

    .cont-6 {
        margin-top: 130px;
    }
}

@media (max-width:750px) {
    .cont-1 {
        font-size: 14px;
    }

    .cont-1 button {
        height: 39px;
        padding: 0px 6px;
        font-size: 12px;
    }

    .cont-1 .bag-img {
        height: 42px;
        width: 42px;
    }

    .cont-3-main img {
        height: 80%;
        right: -80px;
    }

    .cont-3-main h1 {
        top: 70px;
        font-size: 25px;
        width: 400px;
    }

    .cont-4 h1 {
        font-size: 23px;
    }

    .cont-5 div {
        top: 200px;
        left: 10px;
    }

    .cont-6 h1 {
        font-size: 23px;
    }

    .cont-6 {
        margin-top: 80px;
    }
}

@media (max-width:600px) {
    .cont-1 .bag-img {
        display: none;
    }

    .cont-3-main img {
        height: 70%;
        right: -60px;
    }

    .cont-4 h1 {
        font-size: 20px;
    }

    .cont-5 div p {
        font-size: 11px;
    }

    .cont-5 div {
        height: 200px;
        width: 340px;
        top: 260px
    }

    .cont-5 h2 {
        font-size: 14px;
    }

    .cont-6 h1 {
        font-size: 20px;
    }

    .cont-6 {
        margin-top: 90px;
    }
}

@media (max-width:515px) {
    .cont-1 {
        font-size: 12px;
        gap: 10px;

    }

    .cont-1 button {
        height: 39px;
        padding: 0px 3px;
        font-size: 10px;
    }

    .cont-1 .close-logo {
        right: 15px;
    }

    .cont-3 img {
        height: 65%;
        right: -50px;
    }

    .cont-3 h1 {
        font-size: 20px;
        top: 70px;
        width: 320px;

    }

    .cont-4 h1 {
        font-size: 17px;
    }

    .cont-5 div p {
        font-size: 10px;
    }

    .cont-5 div {
        height: 190px;
        width: 300px;
    }

    .cont-5 h2 {
        font-size: 12px;
    }

    .cont-6 h1 {
        font-size: 17px;
    }

}

@media (max-width:430px) {
    .cont-1 {
        font-size: 10px;
        gap: 8px;

    }

    .cont-1 button {
        height: 35px;
        padding: 0px 2px;
        font-size: 8px;
    }

    .cont-3-main img {
        height: 60%;
        right: -40px;
    }

    .cont-3-main h1 {
        width: 280px;
    }

    .cont-4 h1 {
        font-size: 14px;
    }

    .cont-5 div {
        width: 250px;
    }

    .cont-6 h1 {
        font-size: 14px;
    }
} */