:root {
    --black: #000000;
    --grey: #707070;
    --lightgrey: #a6a6a6;
    --pink: #e21b70;
    --bluishgrey: #171f26;
    --whitishgrey: #f7f7f7;
    --white: #ffffff;
    --lightpink: #ff2b85;
    --blakishgrey: #333333;
    --lightbluishgrey: #343b46;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
}

/* Container-1 */
.cont-1 {
    height: 64px;
    width: 100%;
    background-color: var(--lightpink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cont-1-content {
    height: 64px;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.cont-1 .bag-img {
    height: 50px;
    width: 50px;
}

.cont-1 button {
    height: 48px;
    padding: 0px 15px;
    background-color: var(--lightpink);
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s ease;
}

.cont-1 button:hover {
    background-color: var(--whitishgrey);
    color: var(--grey);
}

.close-logo {
    position: absolute;
    right: 24px;
    top: 12px;
    cursor: pointer;
    width: 16px;
}

/* Container-2 */
.cont-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    position: sticky;
    top: 64px;
    z-index: 999;
    background-color: var(--white);

}

.nav {
    height: 64px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Foodpanda-logo {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 0px 0px 30px;
    width: 50%;
    cursor: pointer;
}

.Foodpanda-logo img {
    height: 35px;
    width: 35px;
}

.Foodpanda-logo h3 {
    font-weight: 500;
    font-size: 24px;
    color: var(--lightpink);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 24px;
    width: 50%;
    padding-right: 30px;
}

.login {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-btn {
    outline: none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--white);
    border: 1px solid var(--blakishgrey);
    color: var(--blakishgrey);
    cursor: pointer;
    font-weight: 600;
}

.log-in-btn:hover {
    background-color: var(--whitishgrey);
    padding: 8px 16px;
}

.signup {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn {
    outline: none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    font-style: 12px;
}

.sign-up-btn:hover {
    background-color: var(--pink);
    padding: 8px 16px;
}

.cart {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart a {
    background-color: none;
    padding: 20px;
    border-radius: 50%;
    position: relative;
}

.cart a img {
    position: absolute;
    top: 8px;
    left: 8px;
}

.cart a:hover {
    background-color: var(--whitishgrey);
}

/* Container-3 */
.cont-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whitishgrey);
}

.cont-3-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.cont-3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panda-img {
    width: 66%;
    margin-right: -300px;
}

.panda-img img {
    width: 100%;
}

.cont-3-text-content {
    padding: 0px 0px 0px 30px;
    font-size: 32px;
    font-weight: 700;
    width: 630px;
}


/* Container-4 */
.cont-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    width: 100%;
}

.cont-4-content {
    width: 100%;
    max-width: 1440px;
    padding-left: 63px;
}

.cont-4-content h1 {
    font-weight: 900;
    margin-bottom: 32px;
    font-size: 32px;
}


/* Container-5 */
.cont-5 {
    background-image: url('images/cont-5\ -img.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    object-fit: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 240px;
}

.cont-5-content {
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.cont-5-text-content {
    position: absolute;
    top: 40px;
    margin-left: 30px;
    width: 570px;
    border-radius: 16px;
    background-color: var(--white);
    padding: 24px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
}

.cont-5-text-content p {
    padding: 8px 0;
    line-height: 1.7rem;
    font-weight: 300;
    color: var(--blakishgrey);
}

.started-btn {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--white);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.started-btn:hover {
    background-color: var(--pink);
}

/* COntainer-7 */
.cont-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}

.cont-7-main {
    background: var(--lightpink);
    border-radius: 16px;
    color: var(--white);
    width: 100%;
    margin: 0px 30px 80px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-icon-section {
    width: 50%;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-top: 48px;
}

.app-icon-section h2 {
    margin-bottom: 32px;
    word-spacing: 5px;
}

.app-section-QR-Code {
    display: flex;
    gap: 30px;
    margin-bottom: 24px;
}

.QR-Code img {
    padding: 8px;
    border: 1px solid var(--white);
    max-height: 70px;
    max-width: 72px;
    border-radius: 6px;
}

.app-section-QR-Code p {
    font-size: 16px;
    line-height: 1.7rem;
    font-weight: 300;
    margin-top: -4px;
}

.app-section-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-section-icon img {
    cursor: pointer;
}

.app-phone-section {
    width: 50%;
    position: relative;
}

.app-phone {
    min-height: 327px;
}

.app-phone img {
    position: absolute;
    margin-top: -100px;
    max-height: 521px;
    max-width: 656px;
}

/* Container-9 */
.cont-9 {
    background-image: url('images/home-corporate-pk.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    object-fit: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 240px;
}

.cont-9-content {
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.cont-9-text-content {
    position: absolute;
    top: 100px;
    margin-left: 30px;
    width: 570px;
    border-radius: 16px;
    background-color: var(--white);
    padding: 24px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
}

.cont-9-text-content p {
    padding: 8px 0;
    line-height: 1.7rem;
    font-weight: 300;
    color: var(--blakishgrey);
}

/* Containe-10 */
.cont-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}

.cont-10-main {
    width: 100%;
    margin: 0px 30px 80px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cont-10-text-contain {
    width: 50%;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.cont-10-text-contain h1 {
    font-size: 55px;
    font-weight: 800;
}

.cont-10-text-contain p {
    color: var(--blakishgrey);
    padding: 16px 0;
    font-size: 18px;
    line-height: 1.7rem;
    font-weight: 300;
}

.cont-10-img img {
    border-radius: 16px;
}

.learn-more {
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 9999px;
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
}

.learn-more:hover {
    background-color: var(--pink);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.12), 0px -1px 2px rgba(0, 0, 0, 0.24);
    background-color: var(--white);

}

.footer-contain {
    height: 64px;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logos {
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}

.footer-foodpanda-logo {
    display: flex;
    gap: 8px;
    align-items: center;
    border-right: 1px solid var(--blakishgrey);
    padding-right: 10px;
}

.footer-foodpanda-logo img {
    height: 30px;
    width: 30px;
}

.footer-foodpanda-logo h3 {
    font-weight: 500;
    font-size: 20px;
    color: var(--lightpink);
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.icon {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon a {
    background-color: none;
    box-shadow: none;
    padding: 18px;
    border-radius: 50%;
    position: relative;
}

.icon a img {
    position: absolute;
    top: 4px;
    left: 5px;
    right: 4px;
}

.icon a:hover {
    background-color: var(--whitishgrey);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

@media (max-width:1420px) {
    .nav {
        padding: 0 32px;
    }
    .nav-right {
        padding-right: 0px;
    }
    .Foodpanda-logo {
        padding: 0px;
    }

    .login {
        width: 20%;
    }

    .log-in-btn {
        padding: 6px 12px;
    }

    .signup {
        width: 20%;
    }

    .sign-up-btn {
        padding: 6px 12px;
    }

    .panda-img {
        margin-right: 0px;
    }

    .cont-4-content {
        padding-left: 32px;
    }

    .cont-7 {
        padding: 0 32px;
    }

    .cont-7-main {
        margin: 0px 0px 80px 0px;
    }

    .app-icon-section h2 {
        margin-bottom: 24px;
        word-spacing: 0px;
    }

    .app-section-QR-Code {
        gap: 25px;
        margin-bottom: 16px;
    }

    .app-phone {
        min-height: 0px;
    }

    .app-phone img {
        width: 110%;
        top: -195px;
        right: 0px;
    }

    .cont-10 {
        padding: 0 32px;
    }

    .cont-10-main {
        margin: 0px 0px 80px 0px;
    }

    .cont-10-text-contain h1 {
        font-size: 32px;
    }

    .cont-10-text-contain p {
        font-size: 16px;
    }

    .cont-10-img img {
        width: 100%;
    }
    .footer-contain {
        padding: 0 32px;
    }
    .footer-logos {
        padding-left: 0px;
    }
    .footer-icons {
        padding-right: 20px;
    }
}